.design {
    width: 100%;
    max-width: 1350px;
    min-height: 580px;
    margin: 0 auto;
    background-color: #f3ffe9;
}

.design__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 50px auto;
}

.design__info-left {
    display: flex;
    align-items: center;
    width: 48%;
    height: 280px;
    background-color: #FFF;
    margin: 20px;
    box-shadow: 0 0 10px 5px rgba(7, 7, 7, 0.2);
}

.design__info-text {
    padding: 30px;
    color: #777777;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: justify;
}

.design__info-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 48%;
    height: 280px;
    background-color: #FFF;
    margin: 20px;
    box-shadow: 0 0 10px 5px rgba(7, 7, 7, 0.2);
}

.design__info-btn {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    background-color: #f3ffe9;
    text-align: center;
    color: #777777;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: background-color .5s ease-in, width .5s ease-in;
}

.design__info-btn:hover {
    width: 94%;
    height: 60px;
    margin: 0 auto;
    background-color: #70BD59;
    color: #FBFBFB;
}

@media (max-width: 810px) {
    .design__info {
        flex-wrap: wrap;
    }

    .design__info-left {
        width: 96%;
    }

    .design__info-right {
        width: 96%;
    }
}