.choose {
    width: 100%;    
    max-width: 1920px;
    margin: 100px auto;
    overflow: hidden;
}

.choose__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 70px auto;
}

.nav {
    max-width: 400px;
    padding: 0 16px;
}

.nav__menu {
    padding: 0;
}

.nav__menu-item {
    list-style: none;
    border-left: solid 2px #777777;
    color: #777777;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 1px;
    margin: 0;
    padding: 50px 20px;
    cursor: pointer;
}

.nav__menu-item:hover {
    border-left: solid 6px #57bf32;
    color: #57bf32;
    font-weight: 900;
}

.nav__menu-item-active {
    border-left: solid 6px #57bf32;
    color: #57bf32;
    font-weight: 900;
    text-shadow: 0 0 4px rgba(63, 138, 36, 1);
}

.mob {
    display: none;
}

.qualities {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    max-height: 500px;
    padding: 0 16px;
}

.quality {   
    width: 100%;
    min-height: 500px;
    border-radius: 70px;
    box-shadow: 0 0 10px 5px rgba(7, 7, 7, 0.2);
}

.hide {
    display: block;
    position: relative;
    top: 0;
    animation-name: hide-quality;
    animation-duration: .5s;
    animation-fill-mode: forwards;

}

@keyframes hide-quality{
    to {
        opacity: 0;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

.quality__title {
    width: 100%;
    max-width: 800px;
    margin: 50px;  
    color: #57bf32;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 1px;
}

.quality__text {
    width: 90%;
    max-width: 800px;
    margin: 50px;
    color: #777777;
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

@media (max-width: 1480px) {
    .qualities {
        width: 70%;
        max-width: 1350px;
    }

    .quality__text {
        width: 90%;
    }
}

@media (max-width: 1050px) {
    .qualities {
        width: 64%;
    }
}

@media (max-width: 900px) {
    .qualities {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .choose__item {
        justify-content: center;

    }

    .choose__item {
        flex-wrap: wrap;
    }
    
    .nav {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 800px;
        padding-bottom: 30px;
    }

    .mob {
        display: none;
    }
    
    .nav__menu-item {
        display: inline;
        width: 22%;
        max-width: 200px;
        border-left: none;
        border-bottom: solid 2px #777777;
        color: #777777;
        font-size: 26px;
        line-height: 28px;
        padding: 50px 0;
    }
    
    .nav__menu-item:hover {
        border-left: none;
        border-bottom: solid 6px #57bf32;
    }
    
    .nav__menu-item-active {
        border-left: none;
        border-bottom: solid 6px #57bf32;
    }
    
    .qualities {
        margin-top: 50px;
        width: 96%;
    }
}

@media (max-width: 682px) {
    .nav__menu-item {
        font-size: 22px;
        line-height: 24px;
        padding: 30px 20px;
    }
}

@media (max-width: 588px) {
    .choose__item {
        margin: 30px auto;
    }

    .nav__menu-item {
        font-size: 18px;
        line-height: 20px;
        padding: 30px 20px;
    }
}

@media (max-width: 500px) {
    /*.mob {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }*/

    .nav__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
           
    }

    .nav__menu-item {
        margin: 0;
        padding: 20px;
        font-size: 16px;
    }

    /*.pc {
        display: none;
    }*/

    .nav__menu-text {
        display: none;
    }

    .qualities {
        margin-top: 0;
        width: 100%;
    }

    .quality {   
        width: 94%;
        border-radius: 40px;
        margin: 0 auto;
    }
    
    .quality__title {
        margin: 40px;
        font-size: 24px;
        line-height: 26px;
    }
    
    .quality__text {
        width: 90%;
        margin: 40px;
        font-size: 18px;
        line-height: 22px;
    }

    .nav__menu-item-active svg {
        fill: #57bf32;
        stroke: #57bf32;
    }

    .quality__title {
        width: 100%;
        max-width: 800px;
        margin: 50px auto;
        text-align: center;  
    }
    
    .quality__text {
        width: 90%;
        max-width: 800px;
        margin: 50px auto;
        text-align: center; 
    }
}

@media (max-width: 430px) {
    .nav__menu-item {
        margin: 0;
        padding: 20px;
        font-size: 14px;
    }
}