.promo {
    width: 100%;
    max-width: 1350px;
    min-height: 580px;
    margin: 0 auto;
}

.promo-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px auto;
    padding-bottom: 40px;
}

.promo-box__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

.promo-box__product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
    max-width: 280px;
    min-height: 600px;
    width: 100%;
    background-color: #f3ffe9;
    box-shadow: 0 0 10px 5px rgba(7, 7, 7, 0.2);
}

.promo-box__product-head {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.promo-box__product-title {
    width: 100%;
    color: #252525;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 1px;
}

.promo-box__product-price {
    width: 100%;
    margin: 20px;
    color: #777777;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.promo-box__product-text {
    max-width: 330px;
    min-height: 200px;
    margin: 20px;
    color: #777777;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
}

.promo-box__product-link {
    display: inline-block;
    text-decoration: none;
    color: #252525;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    transition: all .4s ease-in;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

.promo-box__product-link:hover {
    color: #6B8E23;
}

.promo-box__product-link:hover::after {
    width: 100%;
    right: 0;
}

.promo-box__product-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #addcaf, #4CAF50 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

.promo-box__right {
    display: flex;
    align-items: center;
    width: 48%;
    min-height: 300px;
    height: 100%;
    background-color: #f3ffe9;
    margin: 20px;
    box-shadow: 0 0 10px 5px rgba(7, 7, 7, 0.2);
}

.promo-box__right-text {
    padding: 30px;
    color: #777777;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: justify;
}

@media (max-width: 1230px) {
    .promo-box__left {
        max-width: 800px;
        min-height: 500px;
        margin: 0 auto;
    }

    .promo-box__product {
        max-width: 400px;
        min-height: 400px;
    }

    .promo-box__right {
        width: 100%;
        max-width: 800px;
        min-height: 200px;
        margin: 0 auto;
    }
}

@media (max-width: 630px) {
    .promo-box__left {
        max-width: 600px;
        min-height: 600px;
        margin: 0 auto;
    }

    .promo-box__product {
        width: 300px;
        min-height: 600px;
    }

    .promo-box__right {
        width: 100%;
        max-width: 600px;
        min-height: 200px;
        margin: 0 auto;
    }
}

@media (max-width: 580px) {
    .promo-box__left {
        flex-wrap: wrap;
        max-width: 500px;
        margin: 0 auto;
    }

    .promo-box__product {
        width: 100%;
        max-width: 480px;
        min-height: 400px;
    }

    .promo-box__right {
        width: 98%;
        max-width: 520px;
        min-height: 200px;
        margin: 0 auto;
    }
}