.services {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.services-info {
    max-width: 1400px;
    
    text-align: left;
    margin: 0 auto;
}

.services-info__title {
    margin: 0;
    padding-top: 60px;
    font-weight: 700;
    font-size: 58px;
    letter-spacing: 3px;
}

.services-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    max-width: 1920px;
    width: 100%;
    margin: 40px auto;
    padding-bottom: 20px;
}

.services-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
    max-width: 448px;
    min-height: 450px;
    width: 100%;
    /*background-color: #f3ffe9;*/
    box-shadow: 0 0 10px 5px rgba(7, 7, 7, 0.2);
    border-radius: 70px;
}

.services-card__title-box {
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.services-card__title {
    width: 100%;
    margin-bottom: 20px;  
    color: #252525;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 1px;
}

.services-line-1 {
    width: 45px;
    height: 2px;
    margin: 0 auto;
    padding: 0;
    border: none;
    background-color: #252525;
    text-align: center;
    transition: width .5s;
}

.services-card__title-box:hover > .services-line-1 {
    width: 200px;
}

.services-card__text {
    width: 100%;
    margin: 40px;
    color: #777777;
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.services-card__text-1 {
    width: 330px;
    min-height: 200px;
    margin: 20px;
    color: #777777;
    font-size: 26px;
    line-height: 25px;
    letter-spacing: 1px;
}

.services-card__link {
    display: inline-block;
    text-decoration: none;
    color: #252525;
    font-size: 30px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    transition: all .4s ease-in;
    margin-bottom: 30px;
    padding: 10px;
    cursor: pointer;
}

.services-card__link:hover {
    color: #6B8E23;
}

.services-card__link:hover::after {
    width: 100%;
    right: 0;
}

.services-card__link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #addcaf, #4CAF50 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

@media (max-width: 1242px) {
    .services-cards {
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        padding-bottom: 20px;
    }
}

@media (max-width: 1000px) {
    .services-info {
        text-align: center;
        margin: 0 auto;
    }

    .services-info__line {
        text-align: center;
        margin: 20px auto;
    }
}

@media (max-width: 458px) {
    .services-cards {
        width: 100%;
        margin: 10px auto;
    }

    .services-info__title {
        margin: 0;
        padding-top: 10px;
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 2px;
    }

    .services-card {
        min-height: 280px;
    }    
}

@media (max-width: 412px) {
    .services-card {
        width: 90%;
        margin: 20px auto;
    }

    /*.services-card__title {
        width: 200px;
    }

    .services-card__title {
        width: 100%;
        color: #252525;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 1px;
    }*/
}