.swiper2 {
    margin: 60px auto;
}

.rating-result {
    width: 265px;
    margin: 0 auto;
    padding: 10px;
}

.rating-result span {
    padding: 0;
    font-size: 32px;
    margin: 0 4px;
    line-height: 1;
    color: #BFBFBF;
    text-shadow: 1px 1px #3F3F3F;
}

.rating-result>span:before {
    content: '★';
}

.rating-result>span.active {
    color: #000000;
    text-shadow: 1px 1px #3F3F3F;
}

.rewiews-text {
    margin: 60px auto;
}

@media (max-width: 1000px) {
    .rewiews-text {
        margin: 10px auto;
        padding: 20px;
    }
}

@media (max-width: 800px) {
    .swiper2 {
        margin: 10px auto;
    }

    .swiper-wrapper {
        display: flex;
        align-items: center;
        min-height: 300px;
    }
}

@media (max-width: 500px) {
    .rewiews-text {
        margin: 0 auto;
        width: 90%;
    }
}