@import url('./1-header.css');
@import url('./2-design.css');
@import url('./2-services.css');
@import url('./3-process.css');
@import url('./4-works.css');
@import url('./5-team.css');
@import url('./6-reviews.css');
@import url('./7-contacts.css');
@import url('./8-footer.css');
@import url('./9-popup.css');

body {
    position: relative;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

*::selection {
    background: #AFFF7F;
    }